/* font */
@font-face {
  font-family: 'ghanachoco';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/* commen */
body {
    font-family: 'GmarketSansMedium' ,sans-serif;
    font-weight: 300;
    letter-spacing: -0.05em;
}
h1 {
  font-family: 'ghanachoco',serif;
}

/* class */
.hide{
  display: none;
}
.inner {
  max-width: 1200px;
  margin: 0 auto;
}

/* flex */
.flex {
  display: flex;
}
.fCol {
  flex-direction: column;
}
.jusCen {
  justify-content: center;
}
.jusSpaBet {
  justify-content: space-between;
}
.alnCen {
  align-items: center;
}
.alnEnd {
  align-items: flex-end;
}
.jusEnd {
  justify-content: flex-end;
}
.fWrap {
  flex-wrap: wrap;
}
