@charset "UTF-8";
/* 큰 데스크탑 상태 기본 */
/*** 1440px 이하 데스크탑 버전 ***/
@media (max-width: 1439px) {
    #headerWrap {
        background: rgba(255,255,255,0.3);
    }
    #headerWrap aside.inner {
        position: absolute;
        display: flex;
        z-index: 1;
        justify-content: flex-start;
        left: 0;
        top: 5rem;
        width: 100vw;
    }
    #headerWrap header.inner{
        height: 70px;
    }
    #headerWrap header.inner div#navWrap {
        display: none;
        background: rgba(0,0,0,0.5);
        position: absolute;
        left: -10px;
        top:0;
        width: 100vw;
        height: 100vh;
        backdrop-filter: blur(20px);
    }
    #headerWrap header.inner nav {
        left:0;
        transform: translateX(0);
    }
    #headerWrap header.inner nav > ul {
        flex-direction: column;
        margin-left: 5vw;
        margin-top: 8rem;
    }
    #headerWrap header.inner nav > ul > li::after {
        display: none;
    }
    #headerWrap header.inner nav > ul > li a {
        font-size: 1.375rem;
        line-height: 3;
    }
    #headerWrap header.inner > ul li button.mMenuBtn {
        display: block;
    }
}
/*** 768px 이하 테블릿 및 모바일 버전 ***/
@media (max-width: 767px) {
    html {
        font-size: 14px;
    }
    #headerWrap {
        background: rgba(255,255,255,0.4);
    }
    #headerWrap .inner {
        padding: 0 3.5vw;
    }
}