#title {
}
#title div.inner {
}
#title div.inner div.carousel {
  position:relative;
  z-index:-1;
}
#title div.inner div.carousel img {
  width: 100%;
}
#title div.inner div.carousel div.carousel-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 80px;
  height: 15px;
  transform: translateX(-50%);
}
#title div.inner div.carousel div.carousel-btn button {
  height: 15px;
  border-radius: 7px;
}
#title div.inner div.carousel div.carousel-btn button:hover {
  border: 3px solid #009752;
}
#title div.inner div.carousel button:nth-of-type(1){
  width:50px;
  border: 3px solid #009752;
  background: #009752;
}
#title div.inner div.carousel button:nth-of-type(2) {
  width: 15px;
  border: 3px solid rgba(200,200,200);
  background: white;
}