.eventPage div.inner h2 {
    background: #eee url('../assets/img/subPage/04.jpg') no-repeat bottom / contain;
}

/* 01.html */
.findTire .content button {
    display: block;
    margin: 50px auto;
    padding: 10px 16px;
    background-color: transparent;
    border: 1px solid #812990;
    color: #812990;
    cursor: pointer;
}

/* 02,03,04.html */
.car .buttonWrap {
    width: 100%;
    text-align: center;
    position: relative;
}
.car .buttonWrap::before{
    content:"";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ccc;
    top:50%;
    left:0;
    transform: translateY(-50%);
}
.car .buttonWrap button {
    height: 30px;
    padding: 0 10px;
    border-radius: 15px;
    border:1px solid #ddd;
    background: #fff;
    min-width: 30px;
    position: relative;
    vertical-align: top;
    color: #58595b;
}
.car .buttonWrap button.active {
    color: #812990;
    border-color: #812990;
}
.car .buttonWrap button:first-child i:nth-of-type(1){
    position:absolute;
    left: 50%;
    top: calc(50% + 5px);
    transform: translate(-50%, -50%);
}
.car .buttonWrap button:first-child i:nth-of-type(2){
    position:absolute;
    left: 50%;
    top: calc(50% - 5px);
    transform: translate(-50%, -50%);
}
.car .buttonWrap button:first-child i:nth-of-type(3){
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.car .tireList {
    margin-top: 40px;
    row-gap: 15px;
    column-gap : 15px;
}
.car .tireList > li{
    border: 1px solid #ccc;
    padding: 20px;
    width: calc((100% - 30px) / 3);
    color : #111b22;
    position: relative;
}
.car .tireList > li p {
    margin-bottom: 10px;
}
.car .tireList a {
    overflow: hidden;
    display: block;
    padding-bottom: 170px;
}
.car .tireList img.title {
    width: 100%;
}
.car .tireList img.tire {
    max-width: 100%;
}
.car .tireList ul.sub {
    margin: 25px 0 20px;
}
.car .tireList ul.sub li{
    padding-left: 10px;
    position: relative;
    font-size: 13px;
}
.car .tireList ul.sub li::before {
    content:"";
    position: absolute;
    width: 3px;
    height: 3px;
    left: 0;
    top: 8px;
    background: #812990;
}
.car .tireList .imgWrap {
    height: 170px;
    width: calc(100% - 40px);
    overflow: hidden;
    position: relative;
    text-align: center;
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.car .tireList .imgWrap button {
    position: absolute;
    background: #973da6;
    color: #fff;
    width: calc(100%);
    height: 45px;
    z-index: 1;
    left: 0;
    bottom:0;
    border:0;
    text-align: start;
    padding-left: 20px;
}
.car .tireList .imgWrap button::before {
    content:"";
    position: absolute;
    width: 10%;
    border-bottom: 1px solid #fff;
    right:20px;
    top: 22px;
}
.car .tireList .imgWrap button::after {
    content:"";
    position: absolute;
    width: 4%;
    border-bottom: 1px solid #fff;
    right:20px;
    top: 22px;
    transform-origin: right bottom;
    transform: rotate(30deg);
}
.guatantee section {
    column-gap: 60px;
    row-gap: 30px;
    margin-top: 40px;
}
.guatantee article {
    width: calc((100% - 60px) / 2);
}
.guatantee article a.more {
    color: #801494;
    font-size: 14px;
}
.guatantee article h4 {
    font-size: 22px;
}
.guatantee article img {
    width: 100%;
}
.guatantee article p {
    font-size: 14px;
    margin: 10px 0;
}
.event {
}
.event .eventContent {
}
.event .eventContent .wrap {
    margin: 40px 0;
}
.event .eventContent .wrap button {
    display: inline-block;
    flex:1;
    box-sizing: border-box;
    border:0;
    line-height: 4;
    font-size: 16px;
}
.event .eventContent .wrap button.active {
    background-color: #812990;
    color: #fff;
}
.event ul.keep li.end {
    display: none;
}
.event ul.end li.keep {
    display: none;
}
.event .eventContent ul {
    column-gap: 5%;
}
.event .eventContent ul li {
    width: 30%;
    margin-bottom: 50px;
}
.event .eventContent ul li article {
}
.event .eventContent ul li article div {
}
.event .eventContent ul li article div img {
}
.event .eventContent ul li article h4 {
    font-size: 16px;
    color: #4a4a4a;
    line-height: 1.2;
    padding: 20px 0;
}
.event .eventContent ul li article span {
    color: #999;
    font-size: 14px;
    line-height: 1;
}
.event .eventContent .paging {
    margin-top: 50px;
    text-align: center;
}
.event .eventContent .paging button {
    width: 15px;
    height: 15px;
    line-height: 0;
    background: transparent;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.event .eventContent .paging button img {
    height: 15px;
}
.event .eventContent .paging a {
    display: inline-block;
    margin: 0 10px;
}

@media (max-width: 1169px) {
    .guatantee article {
        width: 100%;
    }
}
@media (max-width: 991px) {
    .event .eventContent ul li {
        width: 47.5%;
    }
}
@media (max-width: 767px) {
    .event .eventContent ul li {
        width: 100%;
    }
}