@charset "UTF-8";

/* 기본 세팅 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li {
    list-style: none;
}
a {
    color: inherit; /*부모 요소의 색상 속성 상속*/
    text-decoration: none;
}
img {
    border: 0;
}