/* font */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

/* commen */
::selection{
  background-color: #c0c5f1;
  color:white;
}

body {
  background: #eeeeee;
  font-family: "Pretendard";
  text-align: center;
  font-weight: 300;
  overflow-x: hidden;
  height: 1095px;
}
.h1{
  font-size: 2em;
  font-weight: 700;
}
.h2 {
  font-size: 60px;
  font-weight: 900;
  line-height: 2;
}
.h3 {
  font-size: 31px;
  font-weight: 700;
}
.h4 {
  font-size: 27px;
  font-weight: 900;
}
.h5 {
  font-size: 20px;
  font-weight: 700;
    color: rgba(125,125,125,0.5);
}
.h6 {
  font-size: 0.75em;
  font-weight: 700;
}
input {
  outline: none;
  border: 0px;
  font-family: "Pretendard";
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  /* WebKit browsers */
  color: transparent;
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: transparent;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: transparent;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: transparent;
}

/* class */
.inner {
  width: 80%;
  margin: 0 auto;
}
.hide{
  display:none;
}
.block{
  display: block;
}
.padding100{
  padding: 150px 0;
}
.paddingBottom100{
  padding-bottom: 100px;
}

@keyframes rotateAni{
  0%{
  }
  100%{
    transform: rotate(360deg);
  }
}

/* flex */
.flex {
  display: flex;
}
.fCol {
  flex-direction: column;
}
.jusCen {
  justify-content: center;
}
.jusSpaBet {
  justify-content: space-between;
}
.jusSpaAnd{
  justify-content: space-around;
}
.alnStr{
  align-items: flex-start;
}
.alnCen {
  align-items: center;
}
.alnEnd {
  align-items: flex-end;
}
.jusEnd {
  justify-content: flex-end;
}
.fWrap {
  flex-wrap: wrap;
}

.textCen{
  text-align: center;
}
.textStr{
  text-align: start;
}