/*=================== font ===================*/
@font-face {
  font-family: 'ELAND_Nice_M';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Nice_M.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*=================== common ===================*/
html {
  font-size: 10px;
}
body {
    font-family: 'GmarketSansMedium' ,sans-serif;
    font-weight: 300;
}
h1 {
  font-family: 'ELAND_Nice_M',serif;
  font-weight: 700;
}
.inner {
  width: 90%;
  margin: 0 auto;
}