/*=================== d-day ===================*/
@mixin SetBox() {
  width: 100%;
  background-color: #fff;
  border: 2px solid $subColor;
  padding: 1rem;
}
#d-dayPage {
  background: $mainColor;
  .d-daySection{
    @include SetBox();
    h2{}
    .d-dayList{
      li{
        h3{}
        span{}
        button{}
      }
    }
  }
}

