/*=================== timer ===================*/
#timeTablePage {
  .inner{
    .timeSection{
      padding: 1rem;
      display: flex;
      flex-direction: column;
      height: calc(100vh - 100px - 2rem);
      overflow-y: auto;
      .date{
        text-align: center;
        margin-bottom: 0.5rem;
      }
      .timerContainer{
        display: flex;
        align-items: center;
        padding: 0.2rem 2rem;
        .left{
          .topic{
            font-size: 1rem;
            font-weight: 700;
            margin-bottom: 0.5rem;
          }
          .player{
            width: 30px;
            height: 30px;
            background: url('../assets/img/play.png') no-repeat center / contain;
            font-size: 0;
            &.on{
              background-image: url(../assets/img/pause.png);
            }
          }
        }
        #timerNumber{
          font-size: 2.25rem;
          font-weight: 700;
          flex: 1;
          text-align: end;
        }
      }
      span.bar:nth-of-type(2) img {
        transform: rotate(180deg);
      }
      .contentsContainer{
        display: flex;
        column-gap: 10px;
        height: 100%;
        flex: 1;
        margin-top: 0.5rem;
        min-height: 0;
        #topicContents{
          @include SetBox;
          width: 100%;
          position: relative;
          button{
            @include EditBtn;
          }
          #topicList{
            li{
              font-size: 0.8rem;
              @include Dots;
              padding-left: 1rem;
              width: 100%;
              display: flex;
              justify-content: space-between;
              &::before{
                background-image: url(../assets/img/play.png);
              }
              span{}
            }
          }
        }
        #timelineContents{
          @include SetBox;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          position: relative;
          button{
            @include EditBtn;
          }
          #timeLineList{
            flex:1;
            overflow-y: auto;
            height: 100%;
            min-height: 0;
            li{
              .top{
                font-size: 0.9rem;
                padding-left: 1.1rem;
                display: flex;
                justify-content: space-between;
                margin-bottom: 0.5rem;
                @include Dots;
                span{}
              }
              .bottom{
                font-size: 0.8rem;
                opacity: 0.8;
                .start{}
                .end{}
              }
            }
          }
        }
      }
    }
    #editTopicPopup{
      position: absolute;
      left: 1rem;
      top: 100vh;
      width: calc(100% - 2rem);
      transition: all 0.5s;
      //height: calc(100vh - 2rem - 100px);
      @include SetBox;
      h2{}
      form{
        display: flex;
        align-items: center;
        input{
          flex-grow:1;
          font-size: 1.1rem;
          border: 0;
          color:$subColor;
          padding: 0.3rem;
          width:calc(100% - 50px);
          &::placeholder {
            color: $mainColor;
          }
        }
        button{
          @include SetBox;
          padding: 0;
          display: block;
          line-height: 1;
          height:1.6rem;
          width: 50px;
        }
      }
      hr{
        margin: 0.5rem 0;
        border:0;
        border-top: 1px solid $subColor;
      }
      #popupTopicList{
        li{
          display: flex;
          justify-content: space-between;
          margin: 0.5rem 0;
          padding-left: 1.5rem;
          @include Dots;
          button{
            @include SetBox;
            padding: 0.3rem 0;
            width: 50px;
            line-height:1;
          }
        }
      }
      .btnPlace{
        button{}
      }
    }
    #editTimelinePopup{
      position: absolute;
      left: 1rem;
      top: 20vh;
      width: calc(100% - 2rem);
      transition: all 0.5s;
      //height: calc(100vh - 2rem - 100px);
      @include SetBox;
      h2{}
      form{
        .selectBoxWrap{
          position: relative;
          display: flex;
          input:disabled{
            @include SetBox;
            padding: 0.2rem 0.5rem;
            flex-grow: 1;
            background: transparent;
            color:$subColor;
            font-size: 1rem;
            line-height: 1.5rem;
            outline: 0;
            &::placeholder{
              color: $mainColor;
            }
          }
          label{
            @include SetBox;
            background-color: $subColor;
            color: white;
            line-height: 1.5rem;
            padding: 0.2rem 0.5rem;
            cursor: pointer;
          }
          .selectList{
            position: absolute;
            top: 2rem;
            left:0;
            width: 100%;
            .selectItem{
              cursor: pointer;
              @include SetBox;
              border-top: 0;
            }
          }
        }
      }
      hr{
        margin: 0.5rem 0;
        border:0;
        border-top: 1px solid $subColor;
      }
      .timeInputWrap{
        li{
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-left: 1.5rem;
          @include Dots;
          margin: 1rem 0;
          &::before{
            top:0.3rem;
          }
          input{
            width: 9rem;
            @include SetBox;
            padding:0.3rem;
            color: $subColor;
            text-align: center;
            cursor: pointer;
          }
        }
      }
      .btnPlace{
        button{}
      }
    }
  }
}

.timePickiCSS{
  @include SetBox;
  border-radius: 0;
  .time,
  .mins{
    width: 60px;
    margin:0;
    .prev{
      padding: 1rem;
      background: url('../assets/img/arrow-top.svg') no-repeat center / 75%;
      border:0;
    }
    .ti_tx,
    .mi_tx{
      position: relative;
      input{
        @include SetBox;
        font-size: 1.5rem;
        padding: 0.2rem;
        border-radius: 0;
        color:$subColor;
        width: 70% !important;
      }
      &::before{
        font-size: 0.7rem;
        position: absolute;
        top: -0.7rem;
        color: $subColor;
      }
    }
    .next{
      padding: 1rem;
      background: url('../assets/img/arrow-bottom.svg') no-repeat center / 75%;
      border:0;
    }
    .ti_tx::before{
      content: "HOUR";
    }
    .mi_tx::before{
      content: "MINUTE";
    }
  }
}