@import 'reset.scss';
@import 'variable.scss';
@import 'mixin.scss';
@import 'common.scss';
/*=================== main ===================*/
@import 'index.scss';
@import 'home.scss';
@import 'd-day.scss';
@import 'todoList.scss';
@import 'today.scss';
@import 'timer.scss';

#mobileContainer{
  min-width: 300px;
  max-width: 600px;
  margin: 0 auto;
  background: $mainColor;
  color: $subColor;
  height: 100%;
  position: relative;
}
#subContainer {
  width: 100%;
  height: 100%;
  display: none;
}