@charset "UTF-8";

@font-face {
    font-family: '국립박물관문화재단클래식B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500;700;900&display=swap');
body{
    font-family: 'Noto Sans KR', sans-serif;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.inner{
    width: 100%
}