header {
  position: fixed;
  width: 150px;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  background: wheat;
}
header a {
  color:white;
}
header .inner {
  height: calc(100% - 80px);
  /*! padding-top: 25px; */
  /*! align-items: flex-end; */
  /*! background: gray; */
  /*! padding-bottom: 25px; */
  position: relative;
  width: 100%;
  padding: 40px 0;
}
header .inner h1 {
  /*! position: absolute; */
  height: 100px;
  top: calc(50% - 50px);
  /*! text-align: center; */
  order: 1;
}
header .inner h1 a {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

header .inner h1 img{
}
header .inner ul.gnb {
  align-items: flex-start;
}
header .inner ul.gnb li {
  display: flex;
  line-height: 2.5;
}
header .inner ul.gnb li h2 {
  width: 120px;
  text-align: start;
  margin-right: 20px;
}
header .inner ul.gnb li h2 a {
  
}
header .inner ul.gnb li ul.gnbSub {
  display: flex;
  width: 498px;
  /*! text-align: start; */
  color: white;
}
header .inner ul.gnb li ul.gnbSub li {
  white-space: nowrap;
  text-align:start;
}
header .inner ul.gnb li ul.gnbSub li:nth-of-type(1) {
  width: 122px;
}
header .inner ul.gnb li ul.gnbSub li:nth-of-type(2) {
  width: 164px;
}
header .inner ul.gnb li ul.gnbSub li a {
}
header .inner .wgnb{
  order: 1;
  align-self: flex-start;
  padding-left: 30px;
}
header .inner .wgnb a.ham{
  
  font-size: 0;
  width: 36px;
  height: 28px;
  display: block;
  border-top: 4px solid;
  border-bottom: 4px solid;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
header .inner .wgnb a.ham::before{
  content: "";
  display: block;
  height: 1px;
  border-top: 4px solid;
  flex-grow: 1;
/*   자식요소에게 주면 빈공간을 메울만큼 크기가 늘어남 */
}
header .inner .enb{
  order: 3;
  row-gap: 23px;
}
header .inner .enb li{
  font-size: 18px;
  font-weight: 700;
}
header .inner .enb li a{

}