#projectHeader{
  position: sticky;
  left:0;
  top:0;
  display: flex;
  align-items: center;
  padding: 2rem 0 3rem;
  background: rgba(3, 1, 10, 0.7);
  backdrop-filter: blur(10px);
  .planetIcon {
    width: 5vw;
    height: 5vw;
    max-width: 50px;
    max-height: 50px;
    background: var(--color-main);
    border-radius: 50%;
  }
  nav{
    width: 100%;
    flex: 1;
    ul{
      display: flex;
      width: 100%;
      justify-content: space-around;
      li{
        position: relative;
        cursor: pointer;
      }
    }
  }
  p{
    position: absolute;
    white-space: nowrap;
    left:50%;
    bottom: -3rem;
    transform: translateX(-50%);
  }
}