.detailImage{
  width: 100%;
}
.detailTitleWrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .detailTitle{
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0.2rem;
    margin-left: 0;
  }
  .like{
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    line-height: 1.2rem;
    .heartFill{
      color: var(--color-point);
    }
  }
}
.detailPrice{
  color: var(--color-point);
}
.detailNew{
}
.dropdownWrap{}