@charset "UTF-8";
/* web font */
@font-face {
    font-family: '국립박물관문화재단클래식B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500;700;900&display=swap');

html {
    font-size: 16px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

}
html::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    background: #343436;
    color: #fff;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.inner{
    width: 80%;
    margin: 0 auto;
}

img {
    width: 100%;
}
button {
    cursor: pointer;
}

#popupWrap {
    position: fixed;
    width: 80vw;
    height: 600px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(10px);
    display: none;
    max-height: 100vh;
}
#popupWrap.active {
    display: block;
}
#popupWrap > div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    padding: 2rem;
    text-align: center;
}
#popupWrap > div img {
    width: 10rem;
    margin: 0 auto 2rem;
}
#popupWrap > div button.closeCard {
    font-size: 2rem;
    border: 0;
    width: 3rem;
    line-height: 3rem;
    background: #fff;
    color: #343436;
    border-radius: 50%;
    position: absolute;
    right: -0.8rem;
    top: -0.8rem;
    transition: all 0.3s;
}
#popupWrap > div button.closeCard:hover {
    color: #900;
}
/*==============================================================================================*/
#popupWrap #searchCard {
    display: none;
}
#popupWrap #searchCard.active {
    display: block;
}
/*==============================================================================================*/
#popupWrap #searchCard form {
    margin-bottom: 2rem;
}
#popupWrap #searchCard form input {
    background: rgba(255,255,255,0.5);
    border: 0;
    outline: 0;
    flex-grow: 1;
    padding: 0 1rem;
    border-radius: 10px;
    overflow: hidden;
    color: #fff;
}
#popupWrap #searchCard form input::placeholder {
    color: #fff;
}
#popupWrap #searchCard form button {
    font-size: 2rem;
    color: #fff;
    background: transparent;
    border: 0;
    padding: 0.5rem;
    margin-left: 1rem;
}
#popupWrap #searchCard form button:hover {
    color: #900;
}
#popupWrap #searchCard .wrap {
    text-align: start;
}
#popupWrap #searchCard .wrap h2 {
    line-height: 2;
}
#popupWrap #searchCard .wrap hr {
    margin: 0.5rem 0;
}
#popupWrap #searchCard .wrap ul {
}
#popupWrap #searchCard .wrap ul li {
}
#popupWrap #searchCard .wrap ul li a {
    line-height:2;
}
/*==============================================================================================*/
#popupWrap #loginCard {
    display: none;
}
#popupWrap #loginCard.active {
    display: block;
}
/*==============================================================================================*/
#popupWrap #loginCard img {
    width: 15rem;
    border-radius: 20px;
    margin-bottom: 3rem;
}
#popupWrap #loginCard form {
}
#popupWrap #loginCard form .wrap {
    background: rgba(255,255,255,0.5);
    border-radius: 0.8rem;
    padding: 0 1rem;
    margin-bottom: 0.5rem;
}
#popupWrap #loginCard form .wrap input#userName {
    background: transparent;
    border: 0;
    outline: 0;
    flex-grow: 1;
    padding: 0 1rem;
    line-height: 3rem;
    overflow: hidden;
}
#popupWrap #loginCard form .wrap input {
    color: #fff;
}
#popupWrap #loginCard form .wrap input::placeholder {
    color: #fff;
}
#popupWrap #loginCard form .wrap span {
    line-height: 3rem;
    position: relative;
    padding-left: 2rem;
    cursor: pointer;
    white-space: nowrap;
}
#popupWrap #loginCard form .wrap span::before {
    content:"";
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    background: rgba(0,0,0,0.5);
    top: 0.75rem;
    left: 0;
    transition: all 0.3s;
    cursor: pointer;
}
#popupWrap #loginCard form .wrap span:hover::before,
#popupWrap #loginCard form .wrap span.focus::before {
    background: #900;
}
#popupWrap #loginCard form .wrap input#pw {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 0 1rem;
    line-height: 3rem;
    overflow: hidden;
}
#popupWrap #loginCard form > input {
    margin: 2rem 0 1.5rem;
    background: #900;
    color: #fff;
    line-height: 3rem;
    border: 0;
    outline: 0;
    width: 100%;
    border-radius: 0.8rem;
    transition: all 0.3s;
}
#popupWrap #loginCard form > input:hover{
    background: #343436;
}
#popupWrap #loginCard ul {
}
#popupWrap #loginCard ul li {
}
#popupWrap #loginCard ul li a {
    padding: 0.5rem 1rem;
    text-decoration: underline;
    white-space: nowrap;
}
/*==============================================================================================*/
#popupWrap #translateCard {
    padding-top: 100px;
    display: none;
}
#popupWrap #translateCard.active {
    display: block;
}
/*==============================================================================================*/
#popupWrap #translateCard p {
    font-size: 1.5rem;
    word-break: keep-all;
}