@charset "UTF-8";

/* 모든 태그의 고유 마진과 패딩 삭제 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}
/* html5에서 추가된 시멘틱 태그 */
header, main, footer, nav, section, aside, article, menu, details, figure, figcaption{
    display: block;
}
/* 앞에 찍힌 점 삭제 */
ul, li {
    list-style: none;
}
/* 언더라인 및 텍스트 컬러 삭제 */
a{
    text-decoration: none;
    color: inherit;
}
/* html5에서 추가된 시멘틱 태그 */
header, main, footer, nav, section, aside, article, menu, details, figure, figcaption{
    display: block;
}
/* 옛날 버전에서는 이미지에 링크를 걸면 보더가 생기기 때문에 삭제 */
img {
    border: 0;
    vertical-align: middle;
}