@charset "UTF-8";
/* 1024px 미만 테블릿 버전 */
@media (max-width: 1023px) {
  html {
    font-size: 14px;
  }
  .inner {
    width: 90%;
  }
  /* header */
  header .inner {
    justify-content: center;
  }
  header .inner nav {
    top: 100px;
    height: 70px;
    margin-top: 0px;
    padding-top: 20px;
  }
  header .inner nav::after {
    content:"";
    position: absolute;
    width: 100%;
    height: 70px;
    background: #343436;
    top:0;
    z-index: -1;
    box-shadow:  0 2px 5px rgba(0,0,0,0.8);
  }
  header nav:hover .navSub {
    height: 18.75rem;
  }
  header .inner nav > ul.gnb li.gnbList ul.gnbSub {
    top: 110px;
  }
  header .inner ul.menuWrap {
    position: absolute;
    right: 10%;
    top: 85px;
  }
  header .inner ul.menuWrap li:first-child {
    position: fixed;
    left:10%;
  }
  header .inner ul.menuWrap li a {
    width: 25px;
  }
    
  /* title */
  #title {
    padding-top: 170px;
  }
  
  /* main */
  #main03 .wrap article {
    padding: 20px;
  }
  
  #main04 .inner .wrap {
    column-gap: 20px;
  }
  #main04 .inner .wrap article {
    width: calc((100% - 40px) / 3);
    height: calc((80vw - 40px) / 3);
    border-radius: 15px; 
  }
  #main04 .inner .wrap article img {
    width: 80px;
  }
  
  #main05 .contentWrap {
    height: 545px;
  }
  #main05 .contentWrap .back .content > p {
    margin-bottom: 30px;
  }
  #main05 .contentWrap .back .content ul {
    row-gap: 20px;
    column-gap: 20px;
  }
  #main05 .contentWrap .back .content ul li {
    display: flex;
    width: calc(50% - 10px);
    align-items: center;
  }
  #main05 .contentWrap .back .content ul li .textWrap {
    position: static;
    transform: none;
    margin-left: 10px;
  }
  #main05 .contentWrap .back .content ul li .textWrap h3 {
    margin-top: 0;
  }
  
  #main06 .inner ul#boardBox {
    flex-grow: 1;
    margin-left: 100px;
    max-width: calc(100% - 300px);
  }
  
  #main07 .inner a {
    background: #907354 url(../assets/img/button01.png) no-repeat right 20px bottom 20px/ 50px 50px;
  }
  #main07 .inner a:nth-of-type(2){
    background: #646464 url(../assets/img/button02.png) no-repeat right 20px bottom 20px/ 50px 50px;
  }
  #main07 .inner a:nth-of-type(3){
    background: #907354 url(../assets/img/button03.png) no-repeat right 20px bottom 35px/ 50px auto;
  }
  
  /* footer */
  footer {
    font-size: 1rem;
    padding 20px 0;
    padding: 20px 0 30px;
  }
  footer .inner .fTop {
    margin-bottom: 20px;
    flex-wrap: wrap-reverse;
    justify-content: center;
    padding-bottom: 20px;
  }
  footer .inner .fTop ul.linkList {
    width: 100%;
    justify-content: center;
  }
  footer .inner .fTop ul.social {
    margin-bottom: 10px;
  }
  footer .inner .fBot {
    justify-content: flex-start;
  }
  footer .inner .fBot ul.info {
    width: 350px;
    font-size: 0.75rem;
  }
  
}

/* 768px 미만 모바일 버전 */
@media (max-width: 767px) {
  html {
    font-size: 12px;
  }
  .inner {
    width: 100%;
    padding: 0 50px;
  }
  /* header */
    
  /* title */
  
  /* main */
  #main01 .inner {
    height: 111vw;
    position: relative;
    padding-top: 30vw;
  }
  #main01 .inner::before {
    content:"";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
  }
  #main01 .inner * {
    position: relative;
    text-align: center;
  }
  
  #main02 {
    overflow-x: scroll;
  }
  #main02 .inner {
    column-gap: 40px;
  }
  #main02 .inner article {
    width: 150px;
    flex-shrink: 0;
  }
  #main02 .inner article span {
    padding-bottom: 150px;
  }
  #main02 .inner article:last-child {
    padding-right: 50px;
    width: 200px;
  }
  
  #main03 {
    display: none;
  }
  #main04 .inner .wrap {
    row-gap: 20px;
  }
  #main04 .inner .wrap article{
    width: 100%;
  }
  /* footer */
  
}


























