#subPage {
    padding-top: 100px;
    background: #fff;
    color: #343436;
}
#subPage #subDoor {
    position: relative;
    height: 300px;
}
#subPage #subDoor img:first-child {
    height: 100%;
    object-fit: cover;
}
#subPage #subDoor img:last-child {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    z-index: 1;
}
#subPage #subtitle {
    position: relative;
}
#subPage #subtitle img {}
#subPage #subtitle p {
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    padding: 2px 8px;
    border-bottom : 1px solid #fff;
}
#subPage .currentPageNav {
    font-size: 0.7rem;
    color: rgba(0,0,0,0.5);
    line-height: 30px;
    white-space: nowrap;
}
#subPage .currentPageNav span#textGnbSub {
    color:#000;
}
#subPage #navbar {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
#subPage #navbar .dropdownSection {
}
#subPage #navbar .dropdownSection > a,
#subPage #navbar .dropdownSection select {
    display: block;
    font-size: 0.8rem;
    color: rgba(0,0,0,0.5);
    background: transparent;
    line-height: 25px;
    white-space: nowrap;
    padding: 0 0.5rem;
    border: 0;
    border-right: 1px solid #ddd;
}
#subPage #navbar .dropdownSection > a {
    border-left: 1px solid #ddd;
}
#subPage #navbar .dropdownSection select.dropdownTitle {
    width: 18rem;
    text-align: start;
    position: relative;
}
#subPage #navbar .dropdownSection select.dropdownTitle i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
#subPage #navbar .dropdownSection select.dropdownTitle:nth-of-type(1) {
    width: 8rem;
}
#subPage #navbar .dropdownSection select.dropdownTitle:nth-of-type(2) {
    font-weight: 500;
}
#subPage .inner {
    width: 70%;
}
#subPage .inner #subContent01 {}
#subPage .inner #subContent01 .sub01 {}
#subPage .inner #subContent01 .sub01 img {
    max-width: 100%;
    margin: 0 auto;
}

/* 1024px 미만 테블릿 버전 */
@media (max-width: 1023px) {
    #subPage {
        padding-top: 170px;
    }
    #subPage .inner {
        width: 100%;
        padding: 0 50px;
    }
}
/* 768px 미만 화면 큰 모바일 버전 */
@media (max-width: 767px) {
    #subPage {
        padding-top: 50px;
    }
    #subPage .inner {
        width: 100%;
        padding: 0 20px;
    }
}