:root{
  --color-point: #cd2026;
  --color-point-opacity:rgba(205,32,38,0.9);
  --color-gray: #333;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
ul,li {
  list-style: none;
}
input{
  outline:0;
}

body{
  color: #222;
}
.noData {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
}