@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@300;500;700;900&display=swap');
:root{
  --color-bg: rgb(253, 233, 239);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,li {
  list-style: none;
}
a{
  color: inherit;
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
}
input{
  outline: 0;
}
button{
  cursor: pointer;
}
html,body{
  width: 100%;
  height: 100%;
}
body{
  font-family: 'Hahmlet', serif;
  background-color: var(--color-bg);
  overflow: hidden;
}
#root{
  width: 100%;
  height: 100%;
  .wrap{
    opacity: 1;
    transition: all 0.5s;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow-y: auto;
    &.loading{
      opacity: 0;
    }
  }

}