/*
    boolean
*/

$condition: true;  //boolean데이터(true/false)
$wantedColor:seagreen;

.h1_1 {
    @if $condition {
        color: red;
    }
}
.h1_2 {
    @if $wantedColor==seagreen {
        color: $wantedColor;
    }
}

@mixin selectColor($color) {
    background-color: $color;
}

.h1_3 {
    @include selectColor(pink)
}

@mixin bgColor($bgColor){
    @if $bgColor == green {
        background: $bgColor;
    } @else {
        background: gray;
    }
}

.h1_4 {
    @include bgColor(yellow);
}


//변수 설정
$box-width1:500px;
$box-width2:300px;

.v1, .v2 {
    height: 100px;
    border: 2px solid #000;
}
// 삼항연산자
.v1 {
    width: $box-width1;
    background: if($box-width1 < 400, coral, blue) 
}
.v2 {
    width: $box-width2;
    background: if($box-width2 < 400, coral, blue) 
}