@charset 'UTF-8';
$yellow01:#fcc419;
$yellow02:#fff9db;

.Button {
  /* open-color 사용 */
  background: $yellow01;
  color: $yellow02;
  border:1px solid $yellow01;
  outline: 0;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  vertical-align: top;
  &:hover {
    background: lighten($yellow01, 40%);
    //lighten함수 사용, 색상을 10% 밝게
    color: $yellow01;
  }
  &:active {
    background: darken($yellow01, 30%);
    //lighten함수 사용, 색상을 10% 밝게
    color: $yellow01;
  }

  /* 사이즈 관리 */
  &.large {
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
  }
  &.medium {
    padding: 1rem 2rem;
    font-size: 1rem;
  }
  &.small {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }

  & + & {
    margin-left: 1rem;
  }
}

// .Button + .Button {
//   margin-left: 1rem;
// }
//버튼 클라스 뒤에 있는 버튼 클라스 선택(형제선택자)
// .Button:not(first-child) 와 같은 역할