#instagram {
  color: 111;
}
#instagram .inner {
  color: 111;
}
#instagram .inner h2 {
  color: 111;
}
#instagram .inner ul {
  color: 111;
}
#instagram .inner ul li {
  color: 111;
}
#instagram .inner ul li a {
  color: 111;
}
#instagram .inner ul li a figure {
  color: 111;
}
#instagram .inner ul li a figure img {
  color: 111;
}
#instagram .inner ul li a p {
  color: 111;
}