@charset "UTF-8";
/* 768px 이상 테블릿, 데스크탑 버전*/
@media (min-width: 768px) {
    header {
        height: auto;
        background: transparent;
    }
    header .inner {
        padding: 0;
        width: 100%;
        flex-direction: column;
    }
    header .inner button.trigger{
        display: none;
    }
    header .inner h1{
        text-align: center;
        width: 100%;
        line-height: 100px;
        background: rgba(246,206,206,0.95);
    }
    header .inner h1 span {
        display: inline;
    }
    header .inner nav{
        display: block;
        position: static;
    }
    header .inner nav ul{
        flex-direction: row;
        justify-content: center;
    }
    header .inner nav ul li a{
        border: 0;
        padding: 0 15px;
        line-height: 40px;
    }
}