// mixin스타일 정의 - 인자값 지정, 인자에 기본값
@mixin boxStyle($bgColor:yellow, $fontColor:green) {
    width : 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $bgColor;
    color: $fontColor;
    font: {
        size:1.5rem;
        weight:700;
    }
    margin: 5px auto;
    box-sizing: border-box;
}
@mixin borderLine($bSize:2px,$bStyle:solid,$bColor:#000) {
    border: $bSize $bStyle $bColor;
}