#mouse{
  opacity: 0.8;
  position: absolute;
  border: 3px solid white;
  left: calc(50% - 25px);
  bottom: 5rem;
  width: 50px;
  height: 80px;
  border-radius: 25px;
  animation: rollMouse 0.8s linear alternate infinite;
  z-index: -1;
  &::before{
    content:"Scroll";
    position: absolute;
    left: 50%;
    bottom: -2rem;
    transform: translateX(-50%);
    color: white;
  }
  .wheel{
    position: absolute;
    left: calc(50% - 5px);
    bottom: 8px;
    width: 10px;
    height: 20px;
    background: white;
    border-radius: 5px;
    animation: rollWheel 0.8s ease-in alternate infinite;
  }
}
@keyframes rollMouse {
  from{
    bottom: 5rem;
  }
  to{
    bottom: 5.5rem;
  }
}
@keyframes rollWheel {
  from{
    bottom: 8px;
  }
  to{
    bottom: 16px;
  }
}