hr{
  opacity: 1;
}
#project01,
#project02,
#project03,
#project04,
#project05{
  //margin: 2em 0;
  box-sizing: border-box;
  padding: 3rem 0 12rem;
  
  >.row{
    height: 100%;
  }
  .imgWrap{
    padding: 3rem 2rem 2rem 0;
    position: relative;
    .links{
      position: absolute;
      left:0;
      top:0;
      width: calc(100% - 2rem);
      height: 3rem;
      background-color: rgba(255, 255, 255, 0.3);
      padding-left: 1rem;
      a{
        display: inline-block;
        line-height: 3rem;
        padding: 0 1rem;
        color: white;
        &:hover{
          color: var(--color-main)
        }
      }
    }
    .preview{
      background-color: #fff;
      width: 100%;
      height: 100%;
    }
  }
}