#sourceCard{
  background-color: white;
  position: absolute;
  width: 300px;
  right: -400px;
  bottom: 7rem;
  padding: 1.5rem;
  color: var(--color-bg);
  border-radius: 0.5rem;
  transition: all 0.3s;
  &.open{
    right: 1rem;
  }
  a{
    color: var(--color-bg);
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
  button{
    position: absolute;
    line-height: 1;
    background-color: transparent;
    border: 0;
    right: 0;
    top: -1.5rem;
    color:var(--color-main)
  }
}