
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500;700;900&display=swap');
body{
    color: cornflowerblue;
    font-family: 'Noto Sans KR', sans-serif;
}
.hide {
    display: none;
}
.show {
    display: block;
}