@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 700;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 300;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

:root{
  --color-main: #fdba02;
  --color-point: #71b2ff;
  --color-bg: #eee;
  --color-white: #fff;
  --color-text: #666;
  --color-footer: #8b8b8b;
}
*{
  padding:0;
  margin:0;
  font-size: 1rem;
  font-weight: 300;
  font-family: inherit;
  color: inherit;
  line-height: 1;
}
html, body{
  width: 100%;
  height:100%;
  background-color: var(--color-bg);
  font-family: 'NanumBarunGothic', sans-serif;
  color:var(--color-text);
}
h1,h2,h3,h4,h5,h6{
  font-weight: 700;
}
ul,li{
  list-style: none;
}
img{
  width: 100%;
}
a{
  text-decoration: none;
}
input,textarea{
  outline: 0;
}
button{
  cursor: pointer;
}
.inner{
  width: 80vw;
  margin: 0 auto;
}
.shadowBottom{
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.scroll{
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
}
.scrollBottom{
  scrollbar-color: var(--color-main) rgba(0,0,0,0.3);
  scrollbar-width: thin;
  padding-bottom: 1rem;
  &::-webkit-scrollbar {
    height: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--color-main);
    border-radius: 5px;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(255,255,255,0.3);
    border-radius: 5px;
  }
}