#story{color:111;
    div.inner{color:111;
        hgroup{color:111;
            h2{color:111;

            }
            h3{color:111;

            }
            h4{color:111;
                span{color:111;

                }
            }
        }
        ul.contents{
            li{color:111;
                h5{color:111;

                }
                p{color:111;

                }
            }
        }
        a.more{color:111;

        }
    }
}