.main {
    display: flex;
    justify-content: center;
}
.box {
    width: 500px;
    height: 600px;
    border: 10px solid #c7c7c7;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    margin : 10px;
}
.itemImg {
    max-width: 80%;
}