@charset 'UTF-8';
$yellow01:#fcc419;
$yellow02:#fff9db;

$lime01:#94d82d;
$lime02:#f4fce3;

$blue01:#339af0;
$blue02:#e7f5ff;

$grape01:#cc5de8;
$grape02:#f8f0fc;

.btnWrap {
  & + & {
    margin-top : 1rem;
  }
}
.Button {
  /* open-color 사용 */
  outline: 0;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  vertical-align: top;

  /* 사이즈 관리 */
  &.large {
    padding: 1.5rem 3rem;
    font-size: 1.5rem;
  }
  &.medium {
    padding: 1rem 2rem;
    font-size: 1rem;
  }
  &.small {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }

  & + & {
    margin-left: 1rem;
  }

  &.yellow {
    background: $yellow01;
    color: $yellow02;
    border:1px solid $yellow01;
    &:hover {
      background: lighten($yellow01, 40%);
      color: $yellow01;
    }
    &:active {
      background: darken($yellow01, 30%);
      color: $yellow01;
    }
  }

  &.lime {
    background: $lime01;
    color: $lime02;
    border:1px solid $lime01;
    &:hover {
      background: lighten($lime01, 40%);
      color: $lime01;
    }
    &:active {
      background: darken($lime01, 30%);
      color: $lime01;
    }
  }

  &.blue {
    background: $blue01;
    color: $blue02;
    border:1px solid $blue01;
    &:hover {
      background: lighten($blue01, 40%);
      color: $blue01;
    }
    &:active {
      background: darken($blue01, 30%);
      color: $blue01;
    }
  }
  &.grape {
    background: $grape01;
    color: $grape02;
    border:1px solid $grape01;
    &:hover {
      background: lighten($grape01, 40%);
      color: $grape01;
    }
    &:active {
      background: darken($grape01, 30%);
      color: $grape01;
    }
  }
}

// .Button + .Button {
//   margin-left: 1rem;
// }
//버튼 클라스 뒤에 있는 버튼 클라스 선택(형제선택자)
// .Button:not(first-child) 와 같은 역할