:root {}
#root {
  display: flex;
  flex-direction: column;
}
.header,
.footer {
  background-color: rgb(61, 68, 133);
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
.main{
  height: 100%;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}