.preview { 
    display:flex;
    padding:16px;
    position: relative;

    .previewColumn{
        .previewPic {
            @include set-box(50px, 50px, 16px);
            background-color:$mainColor;
            margin-right:16px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .previewNick {
            width:50vw; 
            font-size:0.85em;
            margin-bottom:6px;
            white-space:nowrap;
            overflow:hidden;
            text-overflow:ellipsis;
            .num {
                font-size: 0.6rem;
                color:$gray02;
                margin-left: 0.5rem;
            }
        }
        .previewMsg {
            width:50vw; 
            font-size:0.82em;
            color:#919191;
    
            // 2줄만 보이게 하기
            display:-webkit-box;
            word-wrap: break-word;
            -webkit-line-clamp:2;
            -webkit-box-orient:vertical;
            overflow:hidden;
            text-overflow:ellipsis;
        }
        .previewTime {
            position:absolute;
            top:10px; right:16px;
            font-size:0.7em;
            color:$gray02
        }
    }  
}

.bubble {
    @include set-box(auto, 100%,8px);
    padding: 0.5rem;
    background-color: $subColor03;
    position: relative;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
    font-size: 0.85rem;
    color: rgba(255,255,255,0.9);
    &::before {
        content:"";
        position: absolute;
        border: 0.5rem solid $subColor03;
        border-left-color: transparent;
        border-bottom-color: transparent;
        left: -0.9rem;
        top: 0.5rem;
    }
}


.bubbleContainer {
    .preview{
        .previewColumn {
            .previewPic {

            }
        }
        .bubbleWrap {
            .bubbleContent{
        
                .previewNick {}
                .bubble {}
            }
            .bubbleTime {}
        }
    }
}