.up{
  transform: translateY(0px) !important;
  opacity: 1 !important;
}
#taste {
}
#taste h2 {
  margin-bottom: 20%;
}
#taste ul {
  margin: 0 auto;
}
#taste ul li {
  width: calc(100% / 6);
  transform: translateY(50px);
  opacity: 0;
  transition: all 0.3s;
}
#taste ul li:hover {
  transform: translateY(-20px) !important;
}
#taste ul li a {
  width: 90%;
  display: block;
  height: 30px;
  background: #f9f9f9;
  /*   border: 1px solid black; */
  line-height: 2.25;
  position: relative;
  border-radius: 10px;
}
#taste ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 50px;
  width: 100%;
  height: 0px;
  padding-bottom:100%;
  display: block;
  background: #efe4db url("../img/b1.png") no-repeat center/23%;
  /*   border: 1px solid black; */
  line-height: 2;
  border-radius: 10%;
}
#taste ul li:nth-of-type(2) a::before {
  background: #f6efe0 url("../img/b2.png") no-repeat center/25%;
}
#taste ul li:nth-of-type(3) a::before {
  background: #f9e5e5 url("../img/b3.png") no-repeat center/40%;
}
#taste ul li:nth-of-type(4) a::before {
  background: #ededed url("../img/b4.png") no-repeat center/30%;
}
#taste ul li:nth-of-type(5) a::before {
  background: #e4f3f9 url("../img/b5.png") no-repeat center/25%;
}
#taste ul li:nth-of-type(6) a::before {
  background: #fcf4e5 url("../img/b6.png") no-repeat center/20%;
}
#brand{
  position: relative;
}
#brand::before {
  content:"BRAND";
  position: absolute;
  /*top: 161px; */
  left: 0;
  transform: translateX(-50px) translateY(20px) rotate(90deg);
  font-family: "Pretendard";
  font-weight: 500;
  font-size: 70px;
  color: rgba(125,125,125,0.5);
  transform-origin: 0 75%;
}
#brand h2 {
  margin-top: 200px;
  margin-bottom: 50px;
  position: relative;
}
#brand ul {
  margin: 0 auto;
}
#brand ul li {
  width: calc(100% / 6);
  height: 220px;
  transform: translateY(50px);
  opacity: 0;
  transition: all 0.3s 0s;
}
#brand ul li:hover {
  transform: translateY(-20px) !important;
}
#brand ul li div {
  width: 90%;
  position: relative;
  height: 100%;
  margin: 0 auto;
  border-radius: 20px;
  border: 1px solid rgba(125, 125, 125, 0.2);
}
#brand ul li div:hover {
  width: 90%;
  position: relative;
  height: 100%;
  margin: 0 auto;
  border-radius: 20px;
  border: 0px;
  box-shadow: 0 0 5px rgba(125, 125, 125, 0.2);
}
#brand ul li div img {
  margin: auto;
  max-width: 70%;
}
#brand ul li div:hover img {
  margin-top: 22px;
  height: 30px;
}
#brand ul li div p {
  display: none;
}
#brand ul li div:hover p {
  display: block;
  position: absolute;
  bottom: 90px;
}
#brand ul li div:hover p::before {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 1px;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  background-color: lightgray;
}
#brand ul li div a {
  display: none;
}
#brand ul li div:hover a {
  display: block;
  width: 90%;
  position: absolute;
  bottom: 10px;
  height: 40px;
  line-height: 3;
  font-size: 15px;
}

#help {
  margin-top: 150px;
  width: 100%;
}
#help article.card {
  position: relative;
  background: url("../img/c1.png") no-repeat center right/cover;
  transform: translateY(50px);
  opacity: 0;
  transition: all 0.5s;
}
#help article.card:nth-of-type(2) {
  background: url("../img/c2.png") no-repeat center right/cover;
}
#help article.card h2 {
  margin-bottom: 29px;
}
#help article.card p {
}
#help article.card a {
  position: absolute;
  bottom: 20%;
}

#service {
  margin-top: 100px;
  box-shadow: 0 0 20px rgba(125, 125, 125, 0.4);
  border-radius: 30px;
  padding-bottom: 39px;
  margin-bottom: 100px;
}
#service article.fnq {
  width: 95%;
  margin: 0 auto;
  padding-top: 40px;
}
#service article.fnq div.fnq-header {
  margin: 30px 0;
}
#service article.fnq div.fnq-header h2 {
}
#service article.fnq div.fnq-header a {
  display: block;
  width: 130px;
  height: 40px;
  font-size: 15px;
  border-radius: 25px;
  text-align: center;
  line-height: 2.75;
  border: 1px solid rgba(125, 125, 125, 0.5);
  transform: translateY(50px);
  opacity: 0;
  transition: all 0.5s;
}
#service article.fnq div.fnq-header a:hover {
  background-image: linear-gradient(to top, #ed1c24, #e0462e);
  border-color: transparent;
  color: white;
}
#service article.fnq ul {
}
#service article.fnq ul li {
  background: rgba(125, 125, 125, 0.1);
  width: 49%;
  padding: 25px 0;
  text-align: start;
  margin-bottom: 15px;
  border-radius: 24px;
  box-shadow: inset 0 0 15px rgba(125, 125, 125, 0.1);
  position: relative;
}
#service article.fnq ul li a {
  margin-left: 30px;
  font-size: 13px;
}
#service article.fnq ul li:hover a {
  margin-left: 30px;
  font-weight: 700;
}
#service article.fnq ul li::after {
  content: "→";
  display: block;
  width: 50px;
  height: 50px;
  background-image: linear-gradient(to top, #ed1c24, #e0462e);
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg) scale(0);
  border-radius: 50%;
  text-align: center;
  line-height: 2;
  font-size: 25px;
  color: white;
  font-weight: 700;
}
#service article.fnq ul li:hover::after {
  transform: translateY(-50%) rotate(-45deg) scale(1);
  transition-duration: 0.3s;
}
#service div.card-space {
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
}
#service div.card-space article{
  transform: translateY(50px);
  opacity: 0;
  transition: all 0.5s;
}
#service div.card-space article.email {
  position: relative;
  background: url("../img/c3.png") no-repeat center right/cover;
  translate: all 0.5s;
}
#service div.card-space article.email h2 {
  margin-bottom: 29px;
}
#service div.card-space article.email p {
}
#service div.card-space article.email a.button {
  position: absolute;
  bottom: 20%;
}
#service div.card-space article.call {
  margin-bottom: 29px;
  background: url("../img/c4.png") no-repeat center right/cover;
}
#service div.card-space article.call h2 {
  margin-bottom: 29px;
}
#service div.card-space article.call a {
  background: none;
  color: black;
  text-align: start;
  font-size: 40px;
  font-weight: 1000;
}
#service div.card-space article.call p {
  margin-top: 38px;
  font-weight: 500;
}
#service div.card-space article.call p span {
  color: red;
}