@charset "UTF-8";

/* commen */
body {
  font-size: 18px;
  overflow-x: hidden;
  font-family: 'Noto Sans KR',sans-serif;
}

/* class */
.hide{
  display: none;
}
.inner {
  width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

/* flex */
.flex {
  display: flex;
}
.fCol {
  flex-direction: column;
}
.jusCen {
  justify-content: center;
}
.jusSpaBet {
  justify-content: space-between;
}
.alnCen {
  align-items: center;
}
.alnEnd {
  align-items: flex-end;
}
.jusEnd {
  justify-content: flex-end;
}
.fWrap {
  flex-wrap: wrap;
}
