#instagram{color:111;
    .inner{color:111;
        h2{color:111;

        }
        ul{color:111;
            li{color:111;
                a{color:111;
                    figure{color:111;
                        img{color:111;

                        }
                    }
                    p{color:111;

                    }
                }
            }
        }
    }
}