$screenMedium: '(max-width: 768px)';

#banner{
  position: relative;
  button{
    background-color: var(--color-main);
    border:0;
    position: absolute;
    left: 50%;
    bottom: 1rem;
    transform: translateX(-50%);
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    white-space: nowrap;
    @media #{$screenMedium} {
      padding: 0.3rem 1.5rem;
      font-size: 0.9rem;
    }
  }
}