main{
  position: relative;
  width: 100%;
}
section {
  margin-top: 100px;
}
#daily {
}
#daily h2 {
}
#daily div.dailyCardSpace {
}
#daily div.dailyCardSpace article.dailyCard {
  width: calc(100% / 4 - 10px);
}
#daily div.dailyCardSpace article.dailyCard a {
}
#daily div.dailyCardSpace article.dailyCard a::before {
}

#daily div.dailyCardSpace article.dailyCard a p {
  position: relative;
  padding-top: 110%;
  font-weight: 700;
  line-height: 1.5;
}
#daily div.dailyCardSpace article.dailyCard a p::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  padding-top: 100%;
  background: url("../img/daily1.jpg") no-repeat center / 100%;
  top: 0;
  left: 0;
  border-radius: 15px;
  transition: all 0.5s;
}
#daily div.dailyCardSpace article.dailyCard:nth-of-type(1) a p::before {
  background: url("../img/daily1.jpg") no-repeat center / 140%;
}
#daily div.dailyCardSpace article.dailyCard:nth-of-type(2) a p::before {
  background: url("../img/daily2.jpg") no-repeat center / 100%;
}
#daily div.dailyCardSpace article.dailyCard:nth-of-type(3) a p::before {
  background: url("../img/daily3.jpg") no-repeat center / 140%;
}
#daily div.dailyCardSpace article.dailyCard:nth-of-type(4) a p::before {
  background: url("../img/daily4.jpg") no-repeat center / 100%;
}
#daily div.dailyCardSpace article.dailyCard:hover a p::before {
  background: url("../img/daily1.jpg") no-repeat center / 150%;
}
#daily div.dailyCardSpace article.dailyCard:nth-of-type(2):hover a p::before {
  background: url("../img/daily2.jpg") no-repeat center / 110%;
}
#daily div.dailyCardSpace article.dailyCard:nth-of-type(3):hover a p::before {
  background: url("../img/daily3.jpg") no-repeat center / 150%;
}
#daily div.dailyCardSpace article.dailyCard:nth-of-type(4):hover a p::before {
  background: url("../img/daily4.jpg") no-repeat center / 110%;
}

#daily div.dailyCardSpace article.dailyCard div.social {
}
#daily div.dailyCardSpace article.dailyCard div.social div.like {
}
#daily div.dailyCardSpace article.dailyCard div.social div.comment {
}

#question {
}
#question h2 {
}
#question article.cookCard{
  width: 100%;
  height: 0;
  padding-bottom: 30%;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}
#question article.cookCard span{
  position: absolute;
  display: block;
  width: 60%;
  height: 100%;
  background: #fff url("../img/question-img.jpg") no-repeat center /100%;
  transition-duration: 0.3s;
  
}
#question article.cookCard:hover span{
  background: #fff url("../img/question-img.jpg") no-repeat center /110%;
}
#question article.cookCard div.textArea{
  width:40%;
  height: calc(100% - 100px);
  background: #f8f3f3;
  position: absolute;
  right:0;
  top:0;
  padding:50px;
}
#question article.cookCard div.textArea h3 {
  font-size: 17px;
  font-weight: 700;  
  margin-bottom: 30px;
}
#question article.cookCard div.textArea div.social {
  margin-bottom: 100px;
}
#question article.cookCard div.textArea a{
  background:white;
  border-radius: 30px;
  padding: 10px 20px;
  border: 1px solid #000;
}
#question article.cookCard:hover div.textArea a{
  background-color: black;
  color:white;
}
#question div.questionList {
  margin-top: 50px;
  width: 100%;
}
#question div.questionList article.questionCard {
  width: calc(100% / 4 - 20px);
  /*! height: 0; */
  /*! padding-bottom: calc(80% / 4 - 16px); */
  background: url("../img/grid.jpg") no-repeat center / cover;
  border: 5px solid #f0f0f0;
  border-radius: 15px;
  justify-content: space-between;
}
#question div.questionList article.questionCard:hover{
  transform: translateY(-5%);
  transition-duration: 0.3s;
  box-shadow: 0 10px 10px rgba(125,125,125,0.1);
}
#question div.questionList article.questionCard h3 {
  margin: 10%;
  margin-bottom: 24%;
}
#question div.questionList article.questionCard div.social {
  margin: 10%;
  /*! margin-top: 24%; */
}

#recipe {
}
#recipe h2 {
}
#recipe div.recipeCardPlace {
}
#recipe div.recipeCardPlace article.recipeCard {
  width: calc(100% / 4 - 10px);
  margin-bottom: 60px;
}
#recipe div.recipeCardPlace article.recipeCard a {
}
#recipe div.recipeCardPlace article.recipeCard a h3 {
  position: relative;
  padding-top: 110%;
  font-weight: 700;
  line-height: 1.5;
}
#recipe div.recipeCardPlace article.recipeCard a h3::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  padding-top: 100%;
  background: url("../img/recipe1.jpg") no-repeat center / 100%;
  top: 0;
  left: 0;
  border-radius: 15px;
  transition: all 0.5s;
}
#recipe div.recipeCardPlace article.recipeCard:hover a h3::before {
  background: url("../img/recipe1.jpg") no-repeat center / 110%;
}
#recipe div.recipeCardPlace article.recipeCard:nth-of-type(2) a h3::before {
  background: url("../img/recipe2.jpg") no-repeat center / 100%;
}
#recipe
  div.recipeCardPlace
  article.recipeCard:nth-of-type(2):hover
  a
  h3::before {
  background: url("../img/recipe2.jpg") no-repeat center / 110%;
}
#recipe div.recipeCardPlace article.recipeCard:nth-of-type(3) a h3::before {
  background: url("../img/recipe3.jpg") no-repeat center / 100%;
}
#recipe
  div.recipeCardPlace
  article.recipeCard:nth-of-type(3):hover
  a
  h3::before {
  background: url("../img/recipe3.jpg") no-repeat center / 110%;
}
#recipe div.recipeCardPlace article.recipeCard:nth-of-type(4) a h3::before {
  background: url("../img/recipe4.jpg") no-repeat center / 100%;
}
#recipe
  div.recipeCardPlace
  article.recipeCard:nth-of-type(4):hover
  a
  h3::before {
  background: url("../img/recipe4.jpg") no-repeat center / 110%;
}
#recipe div.recipeCardPlace article.recipeCard:nth-of-type(5) a h3::before {
  background: url("../img/recipe5.jpg") no-repeat center / 100%;
}
#recipe
  div.recipeCardPlace
  article.recipeCard:nth-of-type(5):hover
  a
  h3::before {
  background: url("../img/recipe5.jpg") no-repeat center / 110%;
}
#recipe div.recipeCardPlace article.recipeCard:nth-of-type(6) a h3::before {
  background: url("../img/recipe6.jpg") no-repeat center / 100%;
}
#recipe
  div.recipeCardPlace
  article.recipeCard:nth-of-type(6):hover
  a
  h3::before {
  background: url("../img/recipe6.jpg") no-repeat center / 110%;
}
#recipe div.recipeCardPlace article.recipeCard:nth-of-type(7) a h3::before {
  background: url("../img/recipe7.jpg") no-repeat center / 100%;
}
#recipe
  div.recipeCardPlace
  article.recipeCard:nth-of-type(7):hover
  a
  h3::before {
  background: url("../img/recipe7.jpg") no-repeat center / 110%;
}
#recipe div.recipeCardPlace article.recipeCard:nth-of-type(8) a h3::before {
  background: url("../img/recipe8.jpg") no-repeat center / 100%;
}
#recipe
  div.recipeCardPlace
  article.recipeCard:nth-of-type(8):hover
  a
  h3::before {
  background: url("../img/recipe8.jpg") no-repeat center / 110%;
}
#recipe div.recipeCardPlace article.recipeCard a p {
  font-size: 14px;
  padding-top: 4px;
}
#recipe div.recipeCardPlace article.recipeCard div.social {
}
#recipe div.recipeCardPlace article.recipeCard div.social div.like {
}
#recipe div.recipeCardPlace article.recipeCard div.social div.comment {
}

#event {
  margin-top: 40px;
  margin-bottom: 100px;
}
#event h2 {
  margin-left: 70px;
  position: relative;
}
#event h2::before{
  content:"";
  display: block;
  position: absolute;
  left: -70px;;
  bottom:50%;
  transform: translateY(50%);
  width: 60px;
  height: 30px;
  background: url("../img/wow.svg") no-repeat center /contain;
}
#event div.eventCardSpace {
}
#event div.eventCardSpace article.eventCard {
  width: calc(100% / 3 - 10px);
}
#event div.eventCardSpace article.eventCard::before{
  content:"";
  display: block;
  width:100%;
  height: 0;
  padding-bottom: 35%;
  background: url("../img/event1.jpg") no-repeat center /105%;
  border-radius: 15px;
  transition: all 0.5s;
}
#event div.eventCardSpace article.eventCard:hover::before{
  background: url("../img/event1.jpg") no-repeat center /115%;
}
#event div.eventCardSpace article.eventCard:nth-of-type(2)::before{
  background: url("../img/event2.jpg") no-repeat center /105%;
}
#event div.eventCardSpace article.eventCard:nth-of-type(2):hover::before{
  background: url("../img/event2.jpg") no-repeat center /115%;
}
#event div.eventCardSpace article.eventCard:nth-of-type(3)::before{
  background: url("../img/event3.jpg") no-repeat center /105%;
}
#event div.eventCardSpace article.eventCard:nth-of-type(3):hover::before{
  background: url("../img/event3.jpg") no-repeat center /115%;
}
#event div.eventCardSpace article.eventCard h3 {
  margin-top: 10px;
  font-weight: 700;
}

/* fixed-button */
div.fixedButton {
  position: sticky;
  bottom: 10px;
  right: 20px;
  z-index: 1;
}
div.fixedButton a {
  display: block;
  position: absolute;
  width: 49px;
  height: 49px;
  background: white;
  border-radius: 26px;
  font-size: 0px;
  border: 1px solid #9e9e9e;
  right: 20px;
  bottom: 10px;
}
div.fixedButton a::before {
  content:"";
  display: block;
  position: absolute;
  width: 3px;
  height: 24px;
  background: #424242;
  font-size: 30px;
  z-index: 1;
  left: calc(50% - 2px);
  top: calc(50% - 12px);
}
div.fixedButton a::after {
  content:"";
  display: block;
  position: absolute;
  width: 13px;
  height: 13px;
  border-top: 3px solid #424242;
  border-left: 3px solid #424242;
  font-size: 30px;
  transform: translateX(24px) translateY(11px) rotate(45deg);
  transform-origin: 0 0;
}