main {}
main img {
    width: 100%;
}
main section {
    height: 100vh;
}
main section .inner {
    position: relative;
}
main section .inner h2 {}
main section .inner > p {
    /* position: absolute;
    left: 50%;
    top: 50%; */
    font-size: 2.5rem;
    /* transform: translate(-50%,-50%); */
    text-align: center;
    font-weight: 700;
    white-space: nowrap;
}