footer {
  margin-top: 100px;
  border-top:1px solid #f0f0f0;
}
footer div.inner {
}
footer div.inner div.f-top {
  padding: 20px 0;
  border-bottom: 1px solid #f0f0f0;
}
footer div.inner div.f-top ul {
}
footer div.inner div.f-top ul li {
  height: 100%;
}
footer div.inner div.f-top>ul>li:not(:last-child) a {
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid #f0f0f0;
}
footer div.inner div.f-top div.select{
  width: 20%;
  height: 40px;
  position: relative;
}
footer div.inner div.f-top div.select::before{
  content:"";
  position: absolute;
  display: block;
  width: 17px;
  height: 1px;
  background: #424242;
  right:20px;
  top: 50%;
}
footer div.inner div.f-top div.select::after{
  content:"";
  position: absolute;
  display: block;
  width: 17px;
  height: 1px;
  background: #424242;
  right:20px;
  top: 50%;
  transform: rotate(90deg);
  transform-origin: center;
}
footer div.inner div.f-top select.selectBox{
  padding: 0px 10px;
  width: 100%;
  height: 100%;
  border:1px solid #f0f0f0;
  background-color: white;
  cursor: pointer;
  line-height: 2.5;
  appearance: none;
  font-family: 'GowunDodum-Regular';
}
footer div.inner div.f-top select.selectBox option a{
  font-family: 'GowunDodum-Regular';
}
footer div.inner div.f-bottom {
  margin: 20px 0;
  font-size: 14px;
}
footer div.inner div.f-bottom ul {
  line-height: 1;
}
footer div.inner div.f-bottom ul li {
  margin-bottom:10px;
}
footer div.inner div.f-bottom ul li:not(:last-child) {
  padding-right: 20px;
  margin-right:20px;
  border-right: 1px solid #f0f0f0;
}
footer div.inner div.f-bottom ul li adress {
}
footer div.inner div.f-bottom ul li a {
  text-decoration:underline;
}
footer div.inner div.f-bottom p {
  white-space: nowrap;
  color:#999;
}
