footer {
}
footer div.f-top {
  background: #f5f6f8;
  height: 163px;
}
footer div.f-top div.inner {
}
footer div.f-top div.inner h2 {
  display: block;
  font-size: 0;
  width: 82px;
  height: 65px;
  background: url("../img/logo.png") no-repeat center /contain;
  flex-shrink: 0;
}
footer div.f-top div.inner>ul {
  flex-grow: 1;
  margin-left: 84px;
  position: relative;
  min-height: 67.2px;
}
footer div.f-top div.inner>ul>li {
  font-weight: 500;
  margin-right: 84px;
  line-height: 30px;
}
footer div.f-top div.inner>ul>li:nth-of-type(1){
  padding-bottom: 30px;
}
footer div.f-top div.inner>ul>li:nth-of-type(5) {
  position: absolute;
  left:0;
  top:32.5px;
}
footer div.f-top div.inner>ul>li:hover a::after {
  animation: openAni 0.5s ease-out alternate infinite;
}
@keyframes openAni{
  0%{
    
  }
  100%{
    transform:translateY(-3px)
  }
}
footer div.f-top div.inner>ul>li:first-child a::after,
footer div.f-top div.inner>ul>li:last-child a::after {
  content:"";
  display: block;
  position: absolute;
  right:-20px;
  top: 5px;
  width:12px;
  height:12px;
  background: url("../img/open.svg") no-repeat center / contain;
}
footer div.f-top div.inner ul li a {
  position: relative;
}
footer div.f-top div.inner ul li:nth-of-type(4) a {
  color: #ff457e;
}
footer div.f-top div.inner div.select {
  display: block;
  width: 227px;
  height: 38px;
  position: relative;
  flex-shrink: 0;
}
footer div.f-top div.inner div.select::before{
  content:"";
  display: block;
  position: absolute;
  width: 15px;
  height: 2px;
  background: red;
  right:10px;
  top:50%;
}
footer div.f-top div.inner div.select::after{
  content:"";
  display: block;
  position: absolute;
  width: 15px;
  height: 2px;
  background: red;
  right:10px;
  top:50%;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
}
footer div.f-top div.inner div.select select {
  font-weight: 500;
  width: 100%;
  height: 100%;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  background-color: #fff;
  color: #757575;
  appearance: none;
}
footer div.f-top div.inner div.select select option {
}
footer div.f-top div.inner div.select select option:hover::after{
}
footer div.f-bottom {
  background: #242424;
  color: #9e9e9e;
}
footer div.f-bottom div.inner {
  padding:40px 0;
}
footer div.f-bottom div.inner div.left {
  font-size: 12px;
  line-height: 1.6;
}
footer div.f-bottom div.inner div.left ul {
}
footer div.f-bottom div.inner div.left ul li {
}
footer div.f-bottom div.inner div.left ul li:not(:last-child){
  margin-right: 21px;
}
footer div.f-bottom div.inner div.left ul li:not(:last-child) span{
  position: relative;
}
footer div.f-bottom div.inner div.left ul li:not(:last-child) span::after{
  content:"";
  position: absolute;
  display: block;
  width:0px;
  height: 12px;
  border-right: 1px solid #9e9e9e;
  background: #9e9e9e;
  right: -10px;
  top: calc(50% - 6px);
}
footer div.f-bottom div.inner div.left adress {
}
footer div.f-bottom div.inner div.left p {
}
footer div.f-bottom div.inner div.right {
  row-gap: 15px;
}
footer div.f-bottom div.inner div.right ul.social {
  column-gap: 10px;
}
footer div.f-bottom div.inner div.right ul.social li {
}
footer div.f-bottom div.inner div.right ul.social li a {
  font-size: 0;
  display: block;
  width:30px;
  height:30px;
  background: url("../img/logo-facebook.svg") no-repeat center / contain;
}
footer div.f-bottom div.inner div.right ul.social li:nth-of-type(2) a {
  background: url("../img/logo-youtube.svg") no-repeat center / contain;
}
footer div.f-bottom div.inner div.right article {
  background: #fff;
  display: block;
  position: relative;
  height: 36px;
  padding: 14px 0;
  padding-left: 70px;
  border-radius: 5px;
  width: 280px;
}
footer div.f-bottom div.inner div.right article img {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 5px;
  top: 2px;
  
}
footer div.f-bottom div.inner div.right article p {
  font-size: 12px;
  line-height: 18px;
  color : #354463;
}
