main {
  position: relative;
}
main section {
}
main section div.inner {
}
main div.fixed-btn {
}
main div.fixed-btn button {
}
main div.goTop {
}

#service {
}
#service div.inner {
  
}
#service div.inner hgroup {
  margin-bottom: 50px;
}
#service div.inner hgroup h2.h5 {
}
#service div.inner hgroup h3.h2 {
  white-space: nowrap;
}
#service div.inner div.contents {
  row-gap: 100px;
  padding-bottom: 32%;
}
#service div.inner div.contents article {
  width: calc(100% / 3 - (100px / 3));
}
#service div.inner div.contents article:hover a::before{
  border: 40px solid #636a52;
  transition-duration: 0.3s;
  padding-bottom: calc(120% - 80px);
}
#service div.inner div.contents article a::before{
  content:"";
  display: block;
  width:100%;
  height: 0;
  padding-bottom: 120%;
  border: 0 solid #636a52;
  background: url("../img/main-service-01.jpg") no-repeat center / cover;
  box-sizing: border-box;
}

#service div.inner div.contents article:nth-of-type(2) a::before{
  background: url("../img/main-service-02.jpg") no-repeat center / cover;
}
#service div.inner div.contents article:nth-of-type(3) a::before{
  background: url("../img/main-service-03.jpg") no-repeat center / cover;
}
#service div.inner div.contents article:nth-of-type(4) a::before{
  background: url("../img/main-service-04.jpg") no-repeat center / cover;
}
#service div.inner div.contents article:nth-of-type(5) a::before{
  background: url("../img/main-service-05.jpg") no-repeat center / cover;
}
#service div.inner div.contents article:nth-of-type(6) a::before{
  background: url("../img/main-service-06.jpg") no-repeat center / cover;
}
#service div.inner div.contents article:nth-of-type(3n+1) {
  transform: translateY(25%);
}
#service div.inner div.contents article:nth-of-type(3n+2) {
  transform: translateY(50%);
}
#service div.inner div.contents article a {
}
#service div.inner div.contents article a h4 {
  line-height: 1.3;
  margin: 10px 0;
}
#service div.inner div.contents article a p {
  font-size:20px;
  color: #444;
  line-height: 1.3;
}
#service div.inner a.view {
}

#life {
  position: relative;
}
#life div.inner {
  margin-left: 0;
  padding-top: 10%;
}
#life div.inner h2 {
  font-size: 110px;
  font-weight: 900;
  /*! position: absolute; */
  width: 100%;
  left:0;
  top:0;
  white-space: nowrap;
  text-align: start;
}
#life div.inner div.banner {
  width: 110%;
  height: 0;
  padding-bottom:80%;
  background: url("../img/section2.jpg") no-repeat top/cover;
  margin-left: 0;
  color: white;
  text-align: start;
  position: relative;
}
#life div.inner div.banner::after{
  content: "";
  top:50%;
  display: block;
  position: absolute;
  z-index: -1;
  background: white;
  width: 100vw;
  height: 100%;
}
#life div.inner div.banner div.text {
  position: absolute;
  left: 50%;
  top:50%;
  transform: translateX(-50%) translateY(-50%);
}
#life div.inner div.banner div.text p {
  white-space: nowrap;
}
#life div.inner div.banner div.text a.view {
  color: white;
}

#life div.inner div.banner div.text a.view::after {
  background: url("../img/allow-long-white.svg") no-repeat center/contain;
}



#story {
  background: white;
  position: relative;
  /*! z-index: -1; */
  /*! display: block; */
}
#story div.inner {
}
#story div.inner>p {
  font-size: 25px;
  font-weight: 900;
  line-height: 1.5;
}
#story div.inner ul {
  margin-top: 150px;
  margin-bottom: 100px;
}
#story div.inner ul li.storyCard {
/*   width:calc(100% / 3); */
  flex-grow: 1;
  height: 0;
  padding-bottom: 17%;
  position: relative;
}
#story div.inner ul li.storyCard:nth-of-type(2) {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
#story div.inner ul li.storyCard>h4 {
  color: black;
  position: relative;
  position: absolute;
  /*! left: 0; */
  bottom: 67px;
  width: 100%;
}
#story div.inner ul li.storyCard p {
  line-height: 1.7;
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
}
#story div.inner ul li.storyCard h4::before{
  content:"";
  position: absolute;
  display: block;
  width: 30%;
  padding-bottom: 30%;
  height: 0;
  bottom:330%;
  left:50%;
  transform: translateX(-50%);
  background: url("../img/keep.svg") no-repeat top center /contain;
}
#story div.inner ul li.storyCard:nth-of-type(2) h4::before{
  background: url("../img/clean.svg") no-repeat center /contain;
}
#story div.inner ul li.storyCard:nth-of-type(3) h4::before{
  background: url("../img/green.svg") no-repeat center /contain;
}
#story div.inner a.view {
  z-index: 1;
}
#miele {
  text-align: start;
  background: url("../img/section4.jpg") no-repeat center / cover;
  width:90%;
  height:0;
  padding-bottom: 40%;
  color: white;
  position: relative;
  /*! overflow: hidden; */
}
#miele::before {
  content:"";
  background: white;
  width:100vw;
  height:100%;
  position: absolute;
  z-index: -1;
  bottom: 31%;
}
#miele div.inner {
    
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20%;
}
#miele div.inner h2 {
  color:white;
  opacity : 0.5;
}
#miele div.inner h3 {
}
#miele div.inner p {
  margin-bottom: 50px;
}
#miele div.inner a.view {
  color:white;
}
#miele div.inner a.view::after {
  background: url("../img/allow-long-white.svg") no-repeat center/contain;
}

#register {
  margin: 200px 0;
  position: relative;
}
#register div.inner {
  width: 70%;
  background: url("../img/section5.jpg") no-repeat right/contain;
  text-align: start;
}
#register div.inner::before{
  content:"";
  position: absolute;
  display: block;
  width: 30%;
  height: calc(100%);
  background: #767c69;
  top:0;
  right: 0;
  z-index: -1;
}
#register div.inner h2 {
  line-height: 3
}
#register div.inner h3 {
  line-height: 1;
}
#register div.inner p {
  margin-top: 20px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 50px;
}
#register div.inner a.view {
}

#instagram {
  background: #222;
  text-align: start;
}
#instagram h2{
  line-height: 1;
  color: #fff;
  margin-bottom: 50px;
  margin-left: 5%;
}
#instagram div.inner {
  width: 100%;
  overflow-x: scroll;
}
#instagram div.inner ul.instaCard {
  row-gap: 17px;
  margin: 0 5%;
}
#instagram div.inner ul.instaCard li{
  width: calc(100% / 4 - 10px);
  height: 0;
  padding-bottom: calc(100% / 4 - 10px);
  position: relative;
}
#instagram div.inner ul.instaCard li::after{
  content:"";
  position: absolute;
  display: block;
  width: 10%;
  height: 10%;
  right: 5%;
  top: 5%;
  opacity: 0;
  background: url("../img/logo-instagram.svg") no-repeat right/contain;
}
#instagram div.inner ul.instaCard li:hover::after{
  opacity: 1;
  transition: opacity 0.3s;
}
#instagram div.inner ul.instaCard li:hover::before {
  opacity: 0.5; 
}
#instagram div.inner ul.instaCard li a{
  position: absolute;
  left:0;
  bottom:0;
  width:100%;
  height: 100%;
}
#instagram div.inner ul.instaCard li a figure img{
  width: 100%;
  height: 100%;
  position: relative;
}
#instagram div.inner ul.instaCard li a figure img:hover{
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0.5;
  transition: opacity 0.3s;
}
#instagram div.inner ul.instaCard li a figure p {
  color: white;
  display: -webkit-box;
  position: absolute;
  bottom: 0;
  width: 90%;
  line-height: 1.5;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  opacity: 0;
  margin: 0 auto;
  margin-bottom: 5%;
  font-weight: 500;
  left: 5%;
}
#instagram div.inner ul.instaCard li:hover a figure p {
  opacity: 1;
  transition: opacity 0.3s;
}

#fixed-btn{
  position: sticky;
  right: 0px;
  bottom:0px;
}
#fixed-btn ul{
  position: absolute;
  right: 20px;
  bottom:20px;
}
#fixed-btn ul li button {
  width: 70px;
  height: 70px;
  cursor: pointer;
  border-radius: 35px;
  background: #000;
  color: white;
  font-weight: 700;
  border:0px;
}
#fixed-btn ul li:last-child button{
  background: #fbcc34;
  color: #000;
  margin-top: 10px;
}
main .goTop{
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: #000;
  color: white;
  font-weight: 700;
  font-size: 20px;
  border:0px;
  bottom:-15px;
}
main .goTop:hover{
  background: #555;
}

.view{
  font-size: 15px;
  font-weight: 500;
  position: relative;
  /*! z-index: 1; */
}
.view::before{
  content:"";
  position: absolute;
  display: block;
  width:40px;
  height: 40px;
  background: url("../img/hexagon.svg") no-repeat center/contain;
  right: -19px;
  top:-16px;
  z-index: -1;
  transform-origin: 40% 40%;
  display:none;
}
.view:hover::before{
  animation: rotateAni 3s linear infinite;
  display: block;
}
.view::after{
  content:"";
  display: inline-block;
  width: 30px;
  height:30px;
  background: url("../img/allow-long.svg") no-repeat center/contain;
  vertical-align: -5px;
  margin-left: 15px;
  z-index: 1;
}