/*=================<intro.scss>===============*/
#intro{
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  left:0;
  top: 0%;
  transform-style: preserve-3d;
  transform-origin: center center;
  overflow: hidden;
  &.loadingCompleted{
    z-index: -1;
    -webkit-animation: slide-out-fwd-center 0.5s both;
    animation: slide-out-fwd-center 0.5s both;
  }
  .box {
    width: 60vw;
    height: 60vw;
    max-width: 60vh;
    max-height:60vh;
    min-width: 250px;
    min-height: 250px;
    border-radius: 5px;
    box-shadow: 0 2px 30px rgba(black, .2);
    background: lighten(#f0f4c3, 10%);
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    cursor: pointer;
    .wave {
      opacity: .4;
      position: absolute;
      top: 3%;
      left: 50%;
      background: rgb(255, 247, 0);
      width: 166%;
      height: 166%;
      margin-left: -84%;
      margin-top: -84%;
      transform-origin: 50% 48%;
      border-radius: 43%;
      animation: drift 3000ms infinite linear;
      &.-two{
        animation: drift 7000ms infinite linear;
        opacity: .2;
        background: rgb(255, 132, 0);
      }
      &.-three{
        animation: drift 5000ms infinite linear;
      }
    }
    &::after{
      content: '';
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(rgb(255, 221, 0), 1), rgba(rgb(255, 245, 222), .5));
      z-index: 11;
      transform: translate3d(0, 0, 0);
    }
    .title {
      position: absolute;
      left: 50%;
      top: 25%;
      width: 100%;
      padding-left: 10%;
      z-index: 12;
      line-height: 1.2;
      text-align: start;
      transform: translate3d(-50%, -50%, 0);
      color: var(--color-bg);
      text-transform: uppercase;
      font-size: 3vw;
      text-shadow: 0 1px 0 rgba(black, .1);
      text-indent: .3em;
      font-weight: 700;
      span{
        margin-top: 2vh;
        display: block;
        font-size: 0.5em;
        font-weight: 700;
      }
    }
  }
}
@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

@-webkit-keyframes slide-out-fwd-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(3);
    transform: scale(3);
    opacity: 0;
  }
}
@keyframes slide-out-fwd-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(3);
    transform: scale(3);
    opacity: 0;
  }
}
/*=================</ intro.scss>===============*/