/*
    반복문 사용
    @each $데이터 in $변수(배열요소) { 반복내용 }

    index($변수, 아이템) - 아이템이 $변수에서 몇번째인지 알아옴
*/
$fruits : apple, banana, grape, mango;  //변수(배열 같은) 설정

.fruits {
    @each $fruit in $fruits {
        $index: index($fruits, $fruit);

        li:nth-child(#{$index}) {
            background-image: url('../img/#{$fruit}.png');
        }
    }
    li{
        list-style: none;
        display: inline-block;
        width: 200px;
        height: 200px;
        background: {
            repeat: no-repeat;
            position: center;
            size: contain;
        };
        border: 2px solid gray;
    }
}