#aboutMe{
  width: 100%;
  height: 100vh;
  color: var(--color-main);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .top{
    .profileWrap{
      h2{

      }
    }
    .contents{
      .info{
        display: flex;
        .profile{
          h3{}
        }
        .education{
          h3{}
        }
      }
      .texts{
        color: white;
        span{
          color: var(--color-main);
          font-size: 1.5em;
        }
      }
    }
  }
  .bottom{
    .row{
      align-items: center;
    }
    .skills{
      .skillBar{
        margin: 0.5rem 0;
        background-color: white;
        height: 1rem;
        position: relative;
        span{
          position: absolute;
          height: 100%;
          left:0;
          top:0;
          display: block;
          background-color: var(--color-main);
        }
      }
      .skillPercent{
        text-align: end;
      }
    }
  }
}