/* font */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

@font-face {
  font-family: "Binggrae-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Binggrae-Bold.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* commen */
::selection{
  background: black;
  color:white;
}
body {
  background: #f8fbfd url("../img/background.png") no-repeat top/100%;
  font-family: "Pretendard";
  text-align: center;
  font-weight: 300;
}
h2 {
  font-family: "Binggrae-Bold";
  font-size: 30px;
  font-weight: 700;
}
input {
  outline: none;
  border: 0px;
  font-family: "Pretendard";
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  /* WebKit browsers */
  color: transparent;
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: transparent;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: transparent;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: transparent;
}

/* class */
.card {
  height: 250px;
  background: url("../img/c1.png") no-repeat center right/cover;
  border-radius: 30px;
  width: 42%;
  text-align: start;
  padding: 3.5%;
}
.carousel-inner {
  width: 100%;
}
.button {
  display: block;
  width: 180px;
  background-image: linear-gradient(to top, #ed1c24, #e0462e);
  height: 50px;
  font-size: 20px;
  border-radius: 25px;
  text-align: center;
  line-height: 2.3;
  color: white;
  font-weight: 700;
}
.inner {
  width: 90%;
  margin: 0 auto;
}

/* flex */
.flex {
  display: flex;
}
.fCol {
  flex-direction: column;
}
.jusCen {
  justify-content: center;
}
.jusSpaBet {
  justify-content: space-between;
}
.alnCen {
  align-items: center;
}
.jusEnd {
  justify-content: flex-end;
}
.fWrap {
  flex-wrap: wrap;
}
