footer {
  background: #000;
  color: white;
}
footer div.inner {
  padding-top: 50px;
  padding-bottom: 50px;
}
footer div.inner div.f-top {
  width: 100%;
}
footer div.inner div.f-top img {
}
footer div.inner div.f-top div.f-rt {
}
footer div.inner div.f-top div.f-rt a {
  color: rgb(125, 125, 125);
  margin-left: 25px;
  font-weight: 700;
}
footer div.inner div.f-middle {
  text-align: start;
  margin-top: 40px;
}
footer div.inner div.f-middle adress {
  line-height: 2;
}
footer div.inner div.f-bottom {
  margin-top: 150px;
}
footer div.inner div.f-bottom p {
  color: #3d3d3d;
  font-weight: 500;
}
footer div.inner div.f-bottom div.button-place {
}
footer div.inner div.f-bottom div.button-place a.bottom-button {
  font-size: 0;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 26px;
  background: #1b1b1b url("../img/logo-instagram.svg") no-repeat center/50%;
  margin-left: 10px;
  padding: 2px;
  box-shadow: 0 0 10px rgb(90, 90, 90, 0.9);
}
footer div.inner div.f-bottom div.button-place a.bottom-button:nth-of-type(2) {
  background:/*#1b1b1b*/ url("../img/logo-youtube.svg") no-repeat center/50%;
}
footer div.inner div.f-bottom div.button-place a.bottom-button:nth-of-type(3) {
  background: #1b1b1b url("../img/logo-twitter.svg") no-repeat center/50%;
}
footer div.inner div.f-bottom div.button-place a.bottom-button:last-child {
  font-size: 12px;
  width: 200px;
  color: white;
  position: relative;
  padding: 0 60px;
  background: #1b1b1b;
  line-height: 4.5;
}
footer
  div.inner
  div.f-bottom
  div.button-place
  a.bottom-button:last-child::before {
  content: "";
  position: absolute;
  left: 20px;
  display: block;
  width: 50px;
  height: 50px;
  background: url(../img/flag_store.png) no-repeat center/100%;
}
footer
  div.inner
  div.f-bottom
  div.button-place
  a.bottom-button:last-child::after {
  content: "▶";
  position: absolute;
  right: 10px;
  top: 0;
  display: block;
  width: 50px;
  height: 50px;
}
footer
  div.inner
  div.f-bottom
  div.button-place
  a.bottom-button:last-child
  strong {
  font-weight: 700;
}
