#title {
}
#title div.inner div.img-place {
  margin-top: 150px;
}
#title div.inner div.img-place img {
  display: block;
  animation: fadeIn 1s 0.3s ease-in-out; /*애니메이션 이름 지속시간 딜레이시간*/
  animation-fill-mode: both;
  animation-direction: alternate;
  width: 80%;
  margin: 0 auto;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    transform: scale(150%);
  }
  50% {
    transform: scale(110%);
  }
  75% {
    transform: scale(130%);
  }
  100% {
    opacity: 1;
  }
}
#title div.inner div.input-space {
  width: 80%;
  height: 100%;
  background: white;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(125, 125, 125, 0.7);
  padding: 10px;
  border-radius: 40px;
}
#title div.inner div.input-space input {
  width: 80%;
}
#title div.inner div.input-space::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background: url(../img/search_icon.png) no-repeat center left / contain;
  margin: auto;
  margin-left: 20px;
}
#title div.inner div.input-space a {
}
#title div.inner ul.hash-place {
  margin-top: 30px;
}
#title div.inner ul.hash-place li {
}
#title div.inner ul.hash-place li a {
  width: 120px;
  height: 40px;
  font-size: 15px;
  line-height: 2.5;
  margin: 8px;
  background: transparent;
  color: #000;
  border: 1px solid rgb(125, 125, 125);
  font-weight: 300;
}
#title div.inner div.scroll-place {
}
#title div.inner div.scroll-place p::before {
  content: "";
  margin: 0 auto;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-left: transparent;
  border-top: transparent;
  transform: rotate(45deg);
  margin-bottom: 20px;
  animation: scrollAni 0.4s ease-out alternate infinite;
  transform-origin: center;
}
@keyframes scrollAni {
  0% {
    transform: rotate(45deg) translateX(0) translateY(0);
  }
  100% {
    transform: rotate(45deg) translateX(-15px) translateY(-15px);
  }
}
#title div.inner div.scroll-place p {
  position: relative;
  text-align: center;
  margin-top: 58px;
  margin-bottom: 100px;
}
