main {
}
main div.wrap {
    width: 100%;
}
main div.wrap section {
    border: 1px solid red;
    width: 50%;
    box-sizing: border-box;
}
main div.wrap section div.inner {
}
main div.wrap section div.inner h2 {
}
main div.wrap section div.inner div.content {
}
main div.wrap section#main01 {
}
main div.wrap section#main01 div.inner {
}
main div.wrap section#main01 div.inner div.content {
}
main div.wrap section#main02 {
}
main div.wrap section#main02 div.inner {
}
main div.wrap section#main02 div.inner div.content {
}
main div.wrap section#main03 {
}
main div.wrap section#main03 div.inner {
}
main div.wrap section#main03 div.inner div.content {
}
main div.wrap section#main04 {
}
main div.wrap section#main04 div.inner {
}
main div.wrap section#main04 div.inner div.content {
}
