main {
}
main section {
    background: #fff;
    margin-top: 10px;
}
main section div.inner {
    padding: 0 50px;
    padding-bottom: 40px;
}
main section div.inner h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 70px;
}

#main01 {
}
#main01 div.inner {
}
#main01 div.inner h2 {
}
#main01 div.inner ul {
    padding-right: 50px;
}
#main01 div.inner ul li {
}
#main01 div.inner ul li a {
    font-size: 0;
    display: block;
    width: 180px;
    height: 180px;
    background: #fcfcfc url('../assets/img/category/btn-baking.png') no-repeat center / 150px 150px;
    margin: 20px 20px 0 0;
    border-radius: 20px;
    box-shadow: 0px 2px 5px #ddd;
}

#main02 {
}
#main02 div.inner {
}
#main02 div.inner h2 {
}
#main02 div.inner ul {
    display: flex;
}
#main02 div.inner ul li {
    flex-shrink: 0;
    margin-right: 20px;
}
#main02 div.inner ul li article {
    width: 300px;
    height: 300px;
    background-color: #f4f4f4;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 3px 5px #aaa;

}
#main02 div.inner ul li article span.img {
    display: block;
    height: 60%;
}
#main02 div.inner ul li article div.text {
    background: #fff;
    height: 40%;
    border: 2px solid #f4f4f4;
    box-sizing: border-box;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 16px;
    position: relative;
}
#main02 div.inner ul li article div.text h3 {
    position: absolute;
    right: 5px;
    top: -30px;
    font-size: 20px;
    font-weight: 700;
}
#main02 div.inner ul li article div.text p.writer {
    font-size: 16px;
    font-weight: 900;
    line-height: 1.5;
}
#main02 div.inner ul li article div.text p.tag {
    color: rgba(0,0,0,0.6);
    flex: 1;
    font-size: 14px;
    line-height: 1.2;
}
#main02 div.inner ul li article div.text p.tag span.tagList {
    font-size: 13px;
}
#main02 div.inner ul li article div.text span.time {
    color: rgba(0,0,0,0.6);
    align-self: flex-end;
}

#main03 {
}
#main03 div.inner {
}
#main03 div.inner h2 {
}
#main03 div.inner ul {
    width: 100%;
    column-gap: 20px;
    row-gap: 20px;
}
#main03 div.inner ul li {
    width:calc((100% - 60px) / 4);
}
#main03 div.inner ul li a {
    display: block;
    width: 100%;
    background: #f4f4f4 url(https://via.placeholder.com/400x150/fee190/666666/?text=Youtube+Thumbnail+1) no-repeat center / cover;
    padding: calc(58% - 30px) 0 10px;
    text-align: center;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 2px 5px #ddd;
}
#main03 div.inner ul li a::before{
    content:"";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: transparent;
    opacity: 0.2;
    z-index: 1;
    transition: all 0.3s;
}
#main03 div.inner ul li:hover a::before{
    background: #000
}
#main03 div.inner ul li a span{
    font-size: 20px;
    font-weight: 700;
    color: transparent;
    transition: all 0.3s;
}
#main03 div.inner ul li:hover a span{
    position: relative;
    color: #fff;
    z-index: 1;
}

#main04 {
}
#main04 div.inner {
}
#main04 div.inner h2 {
}
#main04 div.inner ul {
    column-gap: 20px;
}
#main04 div.inner ul li {
    width: calc(50% - 10px);
}
#main04 div.inner ul li a {
    font-size: 0;
    display: block;
    width: 100%;
    padding-top: 60%;
    border-radius: 15px;
    box-shadow: 0 2px 5px #ddd;
    background: url('https://via.placeholder.com/500x300/ffffff/666666/?text=Notice+Board+1') no-repeat center / cover;
}
#main04 div.inner ul li:last-of-type a {
    background: url('https://via.placeholder.com/500x300/ffffff/666666/?text=Notice+Board+2') no-repeat center / cover;
}
