#contactPage{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  h2{
    padding-top: 3rem;
  }
  p{
    font-size: 1rem;
    align-self: flex-end;
    opacity: 0.7;
    button{
      background-color: transparent;
      border:0;
      line-height: 1;
      font-size: 0.9rem;
      color: var(--color-main);
      padding-bottom: 3px;
      border-bottom: 1px solid var(--color-main);
      margin-left: 0.5rem;

    }
  }
}